.normal-headers {
  width: 80%;
  margin: 6.25rem auto;
}

.margin0Auto {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 1.25rem;
}

.loader-container{
  min-height: 100vh;
}

@media screen  and (min-width:37.5rem){

  .margin0Auto {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.25rem;
  }

}


@media screen and (min-width:47.5rem) {
  .margin0Auto {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.25rem;
  }
}

.black{
  background-color: black;
}

.products-container{
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}


@media screen and (min-width:62.5rem) {

  .margin0Auto {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.25rem;
  }
}


