.normal-headers {
  width: 80%;
  margin: 100px auto;
}

.margin0Auto {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 20px;
}

.loader-container{
  min-height: 100vh;
}

@media screen  and (min-width:600px){

  .margin0Auto {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }

}


@media screen and (min-width:760px) {
  .margin0Auto {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
  }
}


@media screen and (min-width:1000px) {

  .margin0Auto {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
  }
}


