.IndividualArticles-container {
    margin: 0.625rem auto;
    width: 80%;
}

h1, p {
    margin: 0 0 0.625rem 0;
}

.image {
    width: 100%;
    height: auto;
}

.images-container {
    margin: 0 auto;
    width: 50%;
}


.comment-box {
    background-color: #fff; /* Alb pentru fundal */
    padding: 1.25rem;
    border-radius: 0.3125rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    margin-top: 1.25rem;
}

.comment {
    background-color: #f9f9f9; /* Gri deschis pentru individuale comentarii */
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #e1e1e1;
}
@media screen and (min-width: 48rem) {
    .image {
        width: 25rem;
        height: 25rem;
    }
}