.IndividualArticles-container {
    margin: 0.625rem auto;
    width: 80%;
}

h1, p {
    margin: 0 0 0.625rem 0;
}

.image {
    width: 100%;
    height: auto;
}

.images-container {
    margin: 0 auto;
    width: 50%;
}

.article-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.article-date {
    font-size: 1.25rem;
    color: #666;
    margin-bottom: 1.5rem;
}

.article-paragraph {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}


.article-heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}


.article-list {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
}


.ordered-item{
    margin-top:35px;
    margin-bottom:15px;
}

.ordered-item h3{
    font-size:28px;
    font-weight:700;
}

.comment-box {
    background-color: #fff; 
    padding: 1.25rem;
    border-radius: 0.3125rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    margin-top: 1.25rem;
}

.comment {
    background-color: #f9f9f9;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #e1e1e1;
}
@media screen and (min-width: 48rem) {
    .image {
        width: 25rem;
        height: 25rem;
    }
}