

.despre-noi-items-box{

    display: flex;
    margin: 0 auto;
    width:80%;
    flex-direction: column;
}

.accordionplushd{
    display: flex;
}


.accordion-container{

    display: none;

}

.header{

    margin:0.75rem 0.75rem;

}

.headerplusdescription{

    display:flex;
    flex-direction: column;
    margin: 0.75rem 0.75rem;

}

.cardList-container{

    display: grid;
    grid-template-columns: 1fr;
    margin: 0.75rem 0.75rem;
    
}



@media screen and (min-width:37.5rem) {
    
    .accordion-container{
        display: block;
        width:25%;
    }

    .cardList-container{
        grid-template-columns: repeat(2,1fr);
        gap: 1.25rem;
    }
}


@media screen and (min-width:50rem) {
 
    .accordion-container{

        width:15%;
    }

    .cardList-container{
        grid-template-columns: repeat(3,1fr);
        gap: 1.25rem;
    }


}