.despre-noi-items-box{

    display: flex;
    margin: 0 auto;
    width:80%;
    flex-direction: column;
}


.accordionplushd {
  display: flex;
  width: 100%;
  gap: 24px;
}



.accordion-container{

    display: none;

}

.header{

    margin:0.75rem 0.75rem;

}

.headerplusdescription{

    display:flex;
    flex-direction: column;
    margin: 0.75rem 0.75rem;

}


.description-container{
    display: none;
}

.cardList-container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0.75rem 0.75rem;
    gap: 0.75rem;
}



@media screen and (min-width:600px) {

    .description-text{
        font-size: 1.1rem;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-weight: 300;
        line-height: 1.6rem;
    }

    .headerplusdescription{
        width: 70%;
    }
    
    .accordion-container{
        display: block;
        width: 30%;
    }

    .description-container{
        display: block;
        margin:1.25rem 1.25rem;
    }

    .cardList-container{
        grid-template-columns: repeat(2,1fr);
        gap: 1.25rem;
    }


}


@media screen and (min-width:800px) {
 
   .cardList-container{
        grid-template-columns: repeat(3,1fr);
        gap: 1.25rem;
    }

      .accordion-container{
        display: block;
        width: 25%;
    }

}