.userInfo-container {
    position: relative;
}

.userInfo-info {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: white;
    border: 1px solid #dee1cd;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.userInfo-desktop{
    display: none;
}

.userInfo-pictures {
    margin: 8px;
    width: 40px; 
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setari-picture {
    object-fit: cover;
}

.setari-felxbox {
    display: flex;
    align-items: center;
    padding: 10px; 
}

.setari-felxbox:hover {
    background-color: lightblue;
    cursor: pointer;
}

.sign-out-item {
    cursor: pointer;
}




@media screen  and (min-width:600px){
 
    .userInfo-desktop{
        display: block;
    }
    .userInfo-mobile{
        display: none;
    }
}