.userInfo-container {
    position: relative;
}

.userInfo-info {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    background-color: white;
    border: 0.0625rem solid #dee1cd;
    box-shadow: 0rem 0rem 0.625rem 0.3125rem rgba(0, 0, 0, 0.1);
    width: 12.5rem;
}

.userInfo-desktop{
    display: none;
}

.userInfo-pictures {
    margin: 0.5rem;
    width: 2.5rem; 
    height: 2.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button{
    display: contents;
}

.setari-picture {
    object-fit: cover;
}

.setari-felxbox {
    display: flex;
    align-items: center;
    padding: 0.625rem; 
}

.setari-felxbox:hover {
    background-color: lightblue;
    cursor: pointer;
}

.sign-out-item {
    cursor: pointer;
}

.userInfo-mobile{
    color:black;
}


@media screen  and (min-width:750px){
 
    .userInfo-desktop{
        display: block;
        color:black
    }

    .userInfo-mobile{
        display: none;
    }
}