.footer-container {
    margin-top: 20px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.712);
    font-family: Arial, sans-serif;
    color: white;
}

.footer-second-part{
    background-color: rgb(73, 95, 62);
}


.footer-first-part h2, .footer-second-part h2, .footer-third-part h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.footer-first-part-columns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-first-part-column {
    margin-bottom: 1rem;
}

.footer-first-part {
    list-style-type: none;
    padding: 0;
}

.footer-first-part  {
    margin-bottom: 0.5rem;
}

.footer-second-part-columns p {
    margin: 0;
}

.footer-email, .footer-phone {
    margin-bottom: 0.5rem;
}

.black {
    color: #000;
}

@media (min-width: 600px) {
    .footer-first-part-columns {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .footer-first-part-column {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;
        margin-right: 1rem;
    }

    .footer-first-part-column:last-child {
        margin-right: 0;
    }

    .footer-first-part {
        padding-left: 1rem;
    }
}


@media (min-width: 900px) {
    .footer-container {
        padding: 2rem;
    }

    .footer-first-part h2, .footer-second-part h2, .footer-third-part h2 {
        font-size: 1.5rem;
    }
    .footer-second-part{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
