.footer-container {
    margin-top: 1.25rem;
    font-family: Arial, sans-serif;
    color: white;
}



.footer-first-part h2, .footer-second-part h2, .footer-third-part h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.footer-first-part-columns {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-first-part {
    list-style-type: none;
    padding: 0;
}

.footer-second-part-columns p {
    margin: 0;
}

.footer-email, .footer-phone {
    margin-bottom: 0.5rem;
}

.black {
    color: #000;
}

a>p{
    color: #fff;
}

@media (min-width: 37.5rem) {
    .footer-first-part-columns {
        flex-direction: row;
        justify-content: space-between;
        }

    .footer-first-part-column {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .footer-first-part-column:last-child {
        margin-right: 0;
    }

}


@media (min-width: 900px) {
    
    .footer-first-part h2, .footer-second-part h2, .footer-third-part h2 {
        font-size: 1.5rem;
    }
    .footer-second-part{
        display: flex;
        flex-direction: column;
    }
}
