.navbar-text{
    font-size: 32px;
    margin: 0;
}

.width100 {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
  }

  .navbarData{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }