.formControl{
    width: 80%;
    margin :2rem auto;
}

.navbar{
    position: relative;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    background-color: #2e8b57;
}

.navbar-contents p{
    margin:0;
}

  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }


.navbar-text{
    font-size: 1.5rem;
    margin: 0;
    font-weight: 500;
    color: #fff;
}


.navbar-contents{

    display: flex;
    width: 80%;
    justify-content: space-between;
    position: relative;
    
}

.navbar-centered{
    display: flex;
    justify-content: center;
}


.navbar-contents{

    display: none;
}


@media screen  and (min-width:690px){

    .navbar.pinned {
        position: fixed;
        top:0;
        width: 100%;
        z-index: 800;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1.25rem;
    }
    

    .navbar-contents{

        display: flex;
    }
    .formControl{
        display: none;
    }

}