.t-n-r{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;

}

.height-auto{
    height: auto;
}
.heightvh{
    height: 60vh;
}

.width25{
    width:25%;
}

.nav{
    background-color: blueviolet;
    
}
.text-align-c{
    text-align: center;
}

.width100{
    width: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.column{
    display: flex;
    flex-direction: column;
}

.j-c-c{
    justify-content: center;
}

.j-c-b{
    justify-content: space-between;
}

.border-radius-10{
    border-radius: 10em;
}

.align-items-c{
    align-items: center;
}
.width80{
    width: 80%;
}
.width100{
    width: 100%;
}

.margin-top{
    margin-top: 2em;
}


.image-container {
    position: relative;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
    font-weight: bold;
    font-size: 19.2px;
}



.hidden{

     display:none;
}

.z-index{
    z-index: 2;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }

.children{
    color:blueviolet;
    background-color: black;

}

.vh{

    height: 50vh;
}

.background{
    background-color: blueviolet;
}

.Header-cos{
    font-size: 1.5rem;
}

#whatever{
    flex-wrap: wrap;

}

.logo-decorcut{
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
    filter: saturate(300%);
}

.logo-decorcut-text{
    display: none;
}

.header-destopview-phone{
    font-size: 1.5rem;
}

.navbar-title-and-searchbar{
    display: flex;
    justify-content: center;
    background-color: #204426;
    height:5rem;
    color: #fff;
}

.headerCos{
    text-decoration: none ;
    color: inherit;
}

.cos-de-cumparaturi{
    position: relative;
}


.is-in-cart{
    position: absolute;
    top:0;
    right: -10px;
}


.navbar-dropdown{

    background-color: white;
    box-shadow: 0rem 0rem 0.625rem 0.3125rem rgba(0, 0, 0, 0.1);
    position: absolute;
    width:12.5rem;
    top:100%;
    right: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburger-dropdown{

    position: relative;
}

.hamburger-centered{
    display: flex;
    align-items: center;
}

.hamburger-menu{
    height:3.125rem;
    width:3.125rem;
}

.phoneviewHideDesktopContent{
    display: none;
}

@media screen and (min-width:750px) {
   
    .hamburger-centered{
        display: none;
    }

    .phoneviewHideDesktopContent{
        display: flex;
        width: 50%;
        justify-content: flex-end;
    
    }
    
    .logo-decorcut-text{
        display: block;
        font-size: 1.5rem;
    }

    }
