.t-n-r{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;

}

.height-auto{
    height: auto;
}
.heightvh{
    height: 60vh;
}

.width25{
    width:25%;
}

.nav{
    background-color: blueviolet;
    
}
.text-align-c{
    text-align: center;
}

.width100{
    width: 100%;
}

.row{
    
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.j-c-c{
    justify-content: center;
}

.j-c-b{
    justify-content: space-between;
}

.border-radius-10{
    border-radius: 10em;
}

.align-items-c{
    align-items: center;
}
.width80{
    width: 80%;
}
.width100{
    width: 100%;
}

.margin-top{
    margin-top: 2em;
}


.image-container {
    position: relative;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}



.hidden{

     display:none;
}

.z-index{
    z-index: 2;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }

.children{
    color:blueviolet;
    background-color: black;

}

.vh{

    height: 50vh;
}

.background{
    background-color: blueviolet;
}

.Header-cos{
    font-size: 24px;
}

#whatever{
    flex-wrap: wrap;

}

.navbar-title-and-searchbar{
    display: flex;
    justify-content: center;
}

.headerCos{
    text-decoration: none ;
    color: inherit;
}

.navbar-dropdown{

    background-color: #ccc;
    position: absolute;
    width:200px;
    top:100%;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburger-dropdown{

    position: relative;
}

.hamburger-centered{
    display: flex;
    align-items: center;
}

.hamburger-menu{
    height:50px;
    width:50px;
}

.phoneviewHideDesktopContent{
    display: none;
}

@media screen and (min-width:600px) {
   
    .hamburger-centered{
        display: none;
    }

    .phoneviewHideDesktopContent{
        display: flex;
        width: 50%;
        justify-content: space-between;
    
    }
    
}
