.acasa-height{

    background-color: red;
    color:blue;
    height:50px;

}

.smallCatPicture{
    height: 50px;
    width: 50px;
    
}

.heightvh {

    display: flex;
    height: 300px;
    width: 100%;
    background-color: white;

}

.acasa-link {
    color:inherit;
    text-decoration: none;
}

.acasa{
    
    text-align: center;
    padding:20px;
    margin:0 auto;

}

.acasa-pictures{
    text-align: center;
    padding:20px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.acasa-ih{

    height :56px;
    width: 60px;
}