.acasa-height{

    background-color: red;
    color:blue;
    height:50px;

}


.heightvh {

    display: flex;
    height: 300px;
    width: 100%;
    background-color: white;

}

.acasa-link {
    color:inherit;
    text-decoration: none;
}

.acasa{
    
    text-align: center;
    padding:20px;
    margin:0 auto;

}

.acasa-ih{

    height :56px;
    width: 60px;
}