.commentarii {
    position: relative;
    border: 0.0625rem solid #ccc;
    background-color: #fff;
}




.commentUserName{

    font-size: 1.25rem;
    font-weight: 700;
    margin-left:0.3125rem;
}


.comment{

    margin-left: 0.625rem;
}

.id {
  
    display: none;
}
