.produs{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin:0 auto;
    width:80%;

}


.produs-container{

    display: flex;
    margin: 20px auto;
    width:100%;
}


.produs-text,.produs-images,.produs-header-plus-description,.produs-text-container{

    width:50%;
}


.produs-pret{
    color:red;
    font-size: 32px;
    width: 50%;
    display: flex;
    justify-content: flex-end;

}



.produs-text-container{
    display: flex;
    flex-direction: column;
}


.produs-upper-text{
    display: flex;

}


.comment-box {

    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;

}


.comment {

    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;

}


.comment p {
    margin: 0;
    font-size: 14px;
    color: #333;
}


.comment-header{
    position: relative;
    width: 200px;
    border :1px solid #ccc;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
}


@media screen and (max-width:1200px) {

    .produs-container{

        display: flex;
        flex-direction: column;
        margin: 20px auto;
    }
    

    .produs-text-container{
        display: flex;
        flex-direction: column;
        width:80%;
    }
}


@media screen and (max-width:400px) {


    .zoomedImageMaxWidth{

        max-width: 100%;
        max-height: 100%;
    }

    .produs-container{

        display: flex;
        flex-direction: column;
        margin: 20px auto;
    }
    

    .produs-text-container{
        display: flex;
        flex-direction: column;
        width:80%;
    }

    .produs-text,.produs-images,.produs-header-plus-description,.produs-text-container{

        width:100%;
    }
    
    

}