
.despre-noi-container{
    width:80%;
    margin:0 auto;
}
   
.despre-noi{
    display: none;
}

.despre-noi-loading{
    min-height: 100vh;
}

.despre-noi-description{
    display: flex;
    flex-direction: column;
    margin: 2.5rem 0;
}


@media screen and (min-width:600px){
    .despre-noi-container{
        display: flex;
        gap: 2.5rem;
    }
    
}

@media screen and (min-width:1200px) {

    .despre-noi-contents{
        display: flex;
    }
    
}