
.despre-noi-container{
    width:80%;
    margin:0 auto;
}
   
.despre-noi{
    display: none;
}

.despre-noi-loading{
    min-height: 100vh;
}

.accordion-container{
    min-width: 15rem;
    max-width: 25%;
}

@media screen and (min-width:37.5rem){
    .despre-noi-container{
        display: flex;
        gap: 2.5rem;
    }
    
}