.produs-container{
  height: 600px;
  display: flex;
  flex-direction: column;
  width: 362px;
  gap: 10px;
  margin: auto;
  background-color: #F9FEFF;
}

.title-produs{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-style: italic;
  font-weight: bold;
  overflow: hidden;
  text-align: center;
}

.produs-pret{
  font-size: medium;
  color: red;
  text-align: center;
}

.produs-disponibil{
  text-align: center;
}

.produs-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 12px;
}

.produs-description{
  width: 160px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: auto;
}

@media screen  and (min-width:600px){
  
  .produs-container{
    width: 204px;
    height: 440px;
  }
  
  
}