.title-produs{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-style: italic;
  font-weight: bold;
  overflow: hidden;
  text-align: center;
}

.ignore{
  display: contents;
}

.produs-pret{
  font-size: 1.125rem;
  text-align: center;
}

.produs-disponibil{
  text-align: center;
}

.produs-description{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: auto;
}



@media screen  and (min-width:600px){
  .produs-container {
    max-width: 12.75rem;
    width: 12.75rem;
    height: 27.5rem;
}
  
  .produs-image {
    width: 100%; 
    height: auto; 
    max-width: 31.25rem; 
    object-fit: contain;
}

}