.produscard-container {
  max-width: 34.0625rem; 
  margin: auto;
  padding: 1rem;
}

.title-produs{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-style: italic;
  font-weight: bold;
  overflow: hidden;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);

}

.ignore{
  display: contents;
}

.produs-pret{
  font-size: 1.125rem;
  text-align: center;
  color:red
}


.produs-description{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: auto;
  color: rgba(0, 0, 0, 0.6);
}


.produs-disponibil {
  color: #6c757d; 
  text-align: center;
}

.produs-button {
  background-color: green;
  text-decoration: none;
  margin: auto;
  display: block;
}

.produs-button:hover {
  background-color: red;
}

.produs-image {
  width: 100%; 
  height: auto; 
  max-width: 31.25rem;
  object-fit: contain;
}

@media screen  and (min-width:600px){
  .produs-container {
    max-width: 12.75rem;
    width: 12.75rem;
    height: 27.5rem;
}
  

}