.IndividualArticles-container{

    margin:0.625rem auto;
    width: 80%;
}

.loading-container{
    min-height: 100vh;
}

h1,p{

    margin:0 0 0.625rem 0;
}



.image{
    width: 100%;
    height: auto;
}

.images-container{
   margin: 0 auto;
    width:50%;
}

@media screen and (min-width:48rem) {
   .image{
    width:25rem;
    height: 25rem;
   }
}

@media screen and (min-width:62rem) {
  
}


@media screen and (min-width:75rem) {
 
   
}


@media screen and (min-width:90rem) {
 
   
}


@media screen and (min-width:100rem) {
 
    
   
}