
.dropdownMarimi{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.personalizareSIOptiuniNormaleContainer{
    display: flex;
    width: 13.75rem;
    margin-top: 0.625rem;

}

.optiuni-container{
    width: 50%;
}
.optiuni-container{
    width: 50%;
}

@media screen  and (min-width:37.5rem){

    .personalizareSIOptiuniNormaleContainer{
        display: flex;
        flex-direction: row;
    }
}