.articles-loading-screen{
    min-height: 100vh;

}

.articles-container {
    width: 80%;
    margin:0 auto;
}

@media screen and (min-width:768px) {
    .aricles-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}